<app-carousel></app-carousel>

<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="d-flex py-5 px-4">
          <i class="fa fa-certificate fa-3x text-primary flex-shrink-0"></i>
          <div class="ps-4">
            <h5 class="mb-3">30 milliard Euros</h5>
            <p>pour la Transition écologique</p>
            <a class="text-secondary border-bottom" href="">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="d-flex bg-light py-5 px-4">
          <i class="fa fa-users-cog fa-3x text-primary flex-shrink-0"></i>
          <div class="ps-4">
            <h5 class="mb-3">34 milliard Euros</h5>
            <p>pour la Compétitivité & résilience</p>
            <a class="text-secondary border-bottom" href="">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="d-flex py-5 px-4">
          <i class="fa fa-tools fa-3x text-primary flex-shrink-0"></i>
          <div class="ps-4">
            <h5 class="mb-3">36 milliard Euros</h5>
            <p>pour la Cohésion sociale & territoriale</p>
            <a class="text-secondary border-bottom" href="">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="position-relative col-lg-6 pt-4" style="min-height: 400px">
        <!-- <img
          class="exp"
          src="https://scontent.ftun14-1.fna.fbcdn.net/v/t39.30808-6/277463516_4904441636276872_6815940949568524732_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=26sF_SCrHrQAX8cBL4H&_nc_ht=scontent.ftun14-1.fna&oh=00_AfArFmFaX_-OENth73WXZWj_Ptvd8XKz2GXfP04ZHF5uJA&oe=64920669"
        /> -->

        <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
          <img
            class="position-absolute img-fluid w-100 h-100"
            src="../../../../../assets/img/ds.jpg"
            style="object-fit: cover"
            alt=""
          />
          <div
            class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5"
            style="background: rgba(0, 0, 0, 0.08)"
          >
            <h1 class="display-4 text-white mb-0">
              10 <span class="fs-4">Years</span>
            </h1>
            <h4 class="text-white">Experience</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h6 class="text-primary text-uppercase">A propos de nous </h6>
        <h1 class="mb-4">
          <span class="text-primary">CCITNCH</span> Is The Best Place For Your
          Next Move
        </h1>
        <p class="mb-4">
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
          lorem sit clita duo justo magna dolore erat amet
        </p>
        <div class="row g-4 mb-3 pb-3">
          <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
            <div class="d-flex">
              <div
                class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                style="width: 45px; height: 45px"
              >
                <span class="fw-bold text-secondary">01</span>
              </div>
              <div class="ps-3">
                <h6>Professional & Expert</h6>
                <span>Diam dolor diam ipsum sit amet diam et eos</span>
              </div>
            </div>
          </div>
          <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
            <div class="d-flex">
              <div
                class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                style="width: 45px; height: 45px"
              >
                <span class="fw-bold text-secondary">02</span>
              </div>
              <div class="ps-3">
                <h6>Quality Servicing Center</h6>
                <span>Diam dolor diam ipsum sit amet diam et eos</span>
              </div>
            </div>
          </div>
          <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
            <div class="d-flex">
              <div
                class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                style="width: 45px; height: 45px"
              >
                <span class="fw-bold text-secondary">03</span>
              </div>
              <div class="ps-3">
                <h6>Awards Winning Workers</h6>
                <span>Diam dolor diam ipsum sit amet diam et eos</span>
              </div>
            </div>
          </div>
        </div>
        <a href="" class="btn btn-primary py-3 px-5"
          >Read More<i class="fa fa-arrow-right ms-3"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fact bg-dark my-5 py-5">
  <div class="container">
    <div class="row g-4">
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.1s"
      >
        <i class="fa fa-check fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">11</h2>
        <p class="text-white mb-0">Ans d'experience</p>
      </div>
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.3s"
      >
        <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">10</h2>
        <p class="text-white mb-0">Membres experts</p>
      </div>
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.5s"
      >
        <i class="fa fa-users fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">30</h2>
        <p class="text-white mb-0">Adherents</p>
      </div>
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.7s"
      >
        <i class="fas fa-chart-line fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">20</h2>
        <p class="text-white mb-0">Activités</p>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl service py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="text-primary text-uppercase">Nos Services</h6>
      <h1 class="mb-5">Explorer Nos Services</h1>
    </div>
    <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
      <div class="col-lg-4">
        <div class="nav w-100 nav-pills me-4">
          <button
            class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active"
            data-bs-toggle="pill"
            data-bs-target="#tab-pane-1"
            type="button"
          >
            <i class="fa fa-landmark fa-2x me-3"></i>
            <h4 class="m-0">Service 1</h4>
          </button>
          <button
            class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4"
            data-bs-toggle="pill"
            data-bs-target="#tab-pane-2"
            type="button"
          >
            <i class="fa fa-industry fa-2x me-3"></i>
            <h4 class="m-0">Service 2</h4>
          </button>
          <button
            class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4"
            data-bs-toggle="pill"
            data-bs-target="#tab-pane-3"
            type="button"
          >
            <i class="fa fa-handshake fa-2x me-3"></i>
            <h4 class="m-0">Service 3</h4>
          </button>
          <button
            class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0"
            data-bs-toggle="pill"
            data-bs-target="#tab-pane-4"
            type="button"
          >
            <i class="fa fa-chart-pie fa-2x me-3"></i>
            <h4 class="m-0">Service 4</h4>
          </button>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="tab-content w-100">
          <div class="tab-pane fade show active" id="tab-pane-1">
            <div class="row g-4">
              <div class="col-md-6" style="min-height: 350px">
                <div class="position-relative h-100">
                  <img
                    class="position-absolute img-fluid w-100 h-100"
                    src="https://media.licdn.com/dms/image/C4E0BAQE1TfkVRC4PIA/company-logo_200_200/0/1625652233651?e=2147483647&v=beta&t=2EFAw5hrlqZu8QEoG30BRIpNLtlsWVR2XCEKaM2v6YQ"
                    style="object-fit: cover"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h3 class="mb-3">11 Text Text Text</h3>
                <p class="mb-4">
                  text text text text text text text text text text text .
                  text text text text text text text text text text text text ,
                  text text text text text text text 
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Text Text Text
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Text Text Text
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Text Text Text
                </p>
                <a href="" class="btn btn-primary py-3 px-5 mt-3"
                  >Read More<i class="fa fa-arrow-right ms-3"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-pane-2">
            <div class="row g-4">
              <div class="col-md-6" style="min-height: 350px">
                <div class="position-relative h-100">
                  <img
                    class="position-absolute img-fluid w-100 h-100"
                    src="../../../../../assets/img/dt.jpg"
                    style="object-fit: cover"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h3 class="mb-3">11 Text Text Text</h3>
                <p class="mb-4">
                  text text text text text text text text text text text .
                  text text text text text text text text text text text text ,
                  text text text text text text text 
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Quality Servicing
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Expert Workers
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Modern Equipment
                </p>
                <a href="" class="btn btn-primary py-3 px-5 mt-3"
                  >Read More<i class="fa fa-arrow-right ms-3"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-pane-3">
            <div class="row g-4">
              <div class="col-md-6" style="min-height: 350px">
                <div class="position-relative h-100">
                  <img
                    class="position-absolute img-fluid w-100 h-100"
                    src="../../../../../assets/img/dt.jpg"
                    style="object-fit: cover"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h3 class="mb-3">11 Text Text Text</h3>
                <p class="mb-4">
                  text text text text text text text text text text text .
                  text text text text text text text text text text text text ,
                  text text text text text text text 
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Quality Servicing
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Expert Workers
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Modern Equipment
                </p>
                <a href="" class="btn btn-primary py-3 px-5 mt-3"
                  >Read More<i class="fa fa-arrow-right ms-3"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-pane-4">
            <div class="row g-4">
              <div class="col-md-6" style="min-height: 350px">
                <div class="position-relative h-100">
                  <img
                    class="position-absolute img-fluid w-100 h-100"
                    src="../../../../../assets/img/dt.jpg"
                    style="object-fit: cover"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h3 class="mb-3">11 Text Text Text</h3>
                <p class="mb-4">
                  text text text text text text text text text text text .
                  text text text text text text text text text text text text ,
                  text text text text text text text 
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Quality Servicing
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Expert Workers
                </p>
                <p>
                  <i class="fa fa-check text-success me-3"></i>Modern Equipment
                </p>
                <a href="" class="btn btn-primary py-3 px-5 mt-3"
                  >Read More<i class="fa fa-arrow-right ms-3"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid bg-secondary booking my-5 wow fadeInUp"
  data-wow-delay="0.1s"
>
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-6 py-5">
        <div class="py-5">
          <h1 class="text-white mb-4">Certified Room For industry investing</h1>
          <p class="text-white mb-0">
            Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd
            ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo
            rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod
            et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea
            dolore sanctus sed et. Takimata takimata sanctus sed.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="bg-primary h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn"
          data-wow-delay="0.6s"
        >
          <h1 class="text-white mb-4">Réservez pour un service</h1>
          <form>
            <div class="row g-3">
              <div class="col-12 col-sm-6">
                <input
                  type="text"
                  class="form-control border-0"
                  placeholder="Nom"
                  style="height: 55px"
                />
              </div>
              <div class="col-12 col-sm-6">
                <input
                  type="email"
                  class="form-control border-0"
                  placeholder="Email"
                  style="height: 55px"
                />
              </div>
              <div class="col-12 col-sm-6">
                <select class="form-select border-0" style="height: 55px">
                  <option selected>Choisir un Service</option>
                  <option value="1">Service 1</option>
                  <option value="2">Service 2</option>
                  <option value="3">Service 3</option>
                </select>
              </div>
              <div class="col-12 col-sm-6">
                <div class="date" id="date1" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control border-0 datetimepicker-input"
                    placeholder="Date de service"
                    data-target="#date1"
                    data-toggle="datetimepicker"
                    style="height: 55px"
                  />
                </div>
              </div>
              <div class="col-12">
                <textarea
                  class="form-control border-0"
                  placeholder="Demande"
                ></textarea>
              </div>
              <div class="col-12">
                <button class="btn btn-secondary w-100 py-3" type="submit">
                  Réservez
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img class="slider-image-c"
      src="../../../../../assets/slider/1.png"
      alt=""
    />
  </ng-template>
  <ng-template carouselSlide>
    <img class="slider-image-c"
      src="../../../../../assets/slider/2.jpg"
      alt=""
    />
  </ng-template>
  <ng-template carouselSlide>
    <img class="slider-image-c"
      src="../../../../../assets/slider/3.png"
      alt=""
    />
  </ng-template>
  <ng-template carouselSlide>
    <img class="slider-image-c"
      src="../../../../../assets/slider/4.jpg"
      alt=""
    />
  </ng-template>

</owl-carousel-o>

<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="text-primary text-uppercase">Nos Members</h6>
      <h1 class="mb-5">Nos Experts</h1>
    </div>
    <div class="row g-4 justify-content-center">
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/team-1.jpg" alt="" />
            <div
              class="team-overlay position-absolute start-0 top-0 w-100 h-100"
            >
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="bg-light text-center p-4">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/team-2.jpg" alt="" />
            <div
              class="team-overlay position-absolute start-0 top-0 w-100 h-100"
            >
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="bg-light text-center p-4">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/team-3.jpg" alt="" />
            <div
              class="team-overlay position-absolute start-0 top-0 w-100 h-100"
            >
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="bg-light text-center p-4">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/team-4.jpg" alt="" />
            <div
              class="team-overlay position-absolute start-0 top-0 w-100 h-100"
            >
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="bg-light text-center p-4">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="1s">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/team-4.jpg" alt="" />
            <div
              class="team-overlay position-absolute start-0 top-0 w-100 h-100"
            >
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="bg-light text-center p-4">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4 mt-2 justify-content-center">
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/team-1.jpg" alt="" />
            <div
              class="team-overlay position-absolute start-0 top-0 w-100 h-100"
            >
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="bg-light text-center p-4">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/team-2.jpg" alt="" />
            <div
              class="team-overlay position-absolute start-0 top-0 w-100 h-100"
            >
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="bg-light text-center p-4">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/team-3.jpg" alt="" />
            <div
              class="team-overlay position-absolute start-0 top-0 w-100 h-100"
            >
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="bg-light text-center p-4">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/team-4.jpg" alt="" />
            <div
              class="team-overlay position-absolute start-0 top-0 w-100 h-100"
            >
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="bg-light text-center p-4">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="1s">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/team-4.jpg" alt="" />
            <div
              class="team-overlay position-absolute start-0 top-0 w-100 h-100"
            >
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square mx-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="bg-light text-center p-4">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->
