<div class="container mt-3">
  <div
    class="d-flex"
    style="flex-direction: column; justify-content: center; align-items: center"
  >
    <h3>FORMULAIRE DE COTISATION ANNEE 2023</h3>
    <p>
      Par la présente, nous vous demandons de bien vouloir remplir le présent
      formulaire et payer la
    </p>
    <p>
      cotisation à la Chambre de Commerce et d'Industrie Tuniso-Suisse en
      qualité de membre au titre de
    </p>
    <p>l'année 2023</p>
  </div>
  <div style="display: flex; flex-direction: column; margin-top: 1rem">
    <label for="raison"
      >Raison Sociale (personne morale) / Nom et prénom (personne
      physique)</label
    >
    <input class="form-control" type="text" name="" id="raison" />
  </div>
  <div style="display: flex; flex-direction: column; margin-top: 1rem">
    <label for="raison">Addresse</label>
    <input class="form-control" type="text" name="" id="raison" />
  </div>
  <div style="display: flex; flex-direction: column; margin-top: 1rem">
    <label for="raison">Telephone</label>
    <input class="form-control" type="text" name="" id="raison" />
  </div>
  <div style="display: flex; flex-direction: column; margin-top: 1rem">
    <label for="raison">Email</label>
    <input class="form-control" type="text" name="" id="raison" />
  </div>
  <div style="display: flex; flex-direction: column; margin-top: 1rem">
    <label for="raison">Noms des responsables</label>
    <input class="form-control" type="text" name="" id="raison" />
  </div>
  <div style="display: flex; flex-direction: column; margin-top: 1rem">
    <label for="raison">Personnes de contact pour la CCITNCH</label>
    <input class="form-control" type="text" name="" id="raison" />
  </div>
  <div style="display: flex; flex-direction: column; margin-top: 1rem">
    <label for="raison">Nombre d'employés</label>
    <input class="form-control" type="text" name="" id="raison" />
  </div>
  <div style="display: flex; flex-direction: column; margin-top: 1rem">
    <label for="raison">Secteur d'activité (Produit services)</label>
    <input class="form-control" type="text" name="" id="raison" />
  </div>

  <div class="form-check mt-5">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
    />
    <label class="form-check-label" for="flexCheckDefault">
      Membre individuel - 500 DT
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
    />
    <label class="form-check-label" for="flexCheckDefault">
      Entreprise de moins de 50 salariés - 1000 DT
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
    />
    <label class="form-check-label" for="flexCheckDefault">
      Entreprise de 50 salariés ou plus - 1500 DT
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
    />
    <label class="form-check-label" for="flexCheckDefault">
      Adhésion « Privilèges » et Multinationales - 2500 DT
    </label>
  </div>

  <div class="mt-5">
    <label for="raison">Mode de paiement : </label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      <label class="form-check-label" for="flexRadioDefault1"> Chèque </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault2"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2">
        Virement Bancaire
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault2"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2"> Espèces </label>
    </div>
  </div>


<br>
<p>Ci-dessous les coordonnées bancaires de la CCITNCH (Chambre de Commerce et d'Industrie Tuniso-Suisse).</p>
<strong>RIB n° 04062146002044607643</strong>
<strong>Attijari Bank</strong>
<strong>Agence Cité El Khadra</strong>

<p>Les chèques doivent être libellés au nom de la « CCITNCH ».</p>
<p>Des subventions dans le cadre de la promotion du travail de la Chambre sont les bienvenues.</p>
<p>A la réception du présent formulaire, un reçu d’adhésion vous sera envoyé.</p>


</div>
